<div class="call-toact">
    <h3>¿Quieres más información para desarrollar tu proyecto con nosotros?</h3>
    <p>Revisa nuestros servicios, nuestros proyectos y planes según tu presupuesto.</p>
    <a class="bot-p bot-blanco" href="https://www.identired.pe/dise%C3%B1o-de-paginas-web" title="Ver más información">Ver más información</a>
</div>
<div class="cont-datb clearfix">
    <h3>Sobre el autor</h3>
    <div class="small-12 medium-8 large-3 columns">
        <img  src="/img/articulos/miembro.png">
    </div>
    <div class="small-12 medium-8 large-9 columns">
        <h5>Lisbeth Guillén</h5>
        <p>Agencia Identired</p>
    </div>   
</div>
<div class="cont-datb clearfix">
    <h3>Coméntanos sobre este artículo</h3>
    <div class="fb-comments" data-href="{{ site.url }}{{ page.url | remove: ".html" }}" data-numposts="1" data-width="100%"></div>
</div>