<div class="reg-blog">
    <div class="wid-blog">
        <h2>Compárte con tus amigos</h2>
        <div id="botones-para-compartir">
            <a href="javascript:void(0);" onclick="window.open( &quot; http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url | remove: ".html" }}& quot; , & quot; gplusshare & quot; , & quot; toolbar = 0, status = 0, width = 548, height = 325 & quot; );" rel="nofollow" title="Compartir en Facebook"><img alt="compartir en facebook" class="facebooko" height="40" src="http://1.bp.blogspot.com/-rwK-4X3iLjc/ViFsOclr9NI/AAAAAAAABwc/ocBw9cxRK2M/s1600/facebook-long.png" title="compartir en facebook" width="40" /></a>
            <a href="javascript:void(0);" onclick="window.open( &quot; https://plus.google.com/share?url={{ site.url }}{{ page.url | remove: ".html" }}& quot; , & quot; gplusshare & quot; , & quot; toolbar = 0, status = 0, width = 548, height = 325 & quot; );" rel="nofollow" title="Compartir en Google+"><img alt="compartir en google+" class="googleo" height="40" src="http://1.bp.blogspot.com/-SKqPlZHzLgg/ViFsOt7HbeI/AAAAAAAABw0/bQQhWqgEpWM/s1600/google-long.png" title="compartir en google+" width="40" /></a>

            <div class="div-social">
                <div class="fb-share-button" data-href="{{ site.url }}{{ page.url | remove: ".html" }}" data-layout="button_count" data-size="large" data-mobile-iframe="false">
                    <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | remove: ".html" }}&amp;src=sdkpreparse">Share</a>
                </div>
            </div>
        </div>
    </div>                    
    <div class="wid-blog">
        <h2>¿Quieres más artículos como este?</h2>
        <p>Resistrate y te enviaremos más cosas interesantes para mejorar tus ventas</p>
        <div class="form-blog form-consul">
            {% include subscribe-form.html %}
        </div> 
    </div>                       
</div>