<div class="reg-blog">
    <div class="wid-blog">
        <h2>Compárte con tus amigos</h2>
  
        <div class="div-social" style="margin-top: 35px;">
            <div class="fb-like" data-href="{{ site.url }}{{ page.url | remove: ".html" }}" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
        </div>
    </div>                    
    <div class="wid-blog">
        <h2>¿Quieres más artículos como este?</h2>
        <p>Resistrate y te enviaremos más cosas interesantes para mejorar tus ventas</p>
        <div class="form-blog form-consul">
            {% include subscribe-form.html %}
        </div> 
    </div>                       
</div>