
<section class="row sec-clien">
    <div class="col-container">
        <h2>Compañías que confían en <b>Identired</b></h2>
        <div class="cont-cli">
            <ul>
                <li>
                    <a href="/proyectos-paginas-web/zapatillas-tigre" title="Zapatillas Tigre"><img src="/img/logo-tigre.jpg" title="Zapatillas Tigre"></a>
                </li>
                <li>
                    <a href="/proyectos-paginas-web/gesym" title="Contadores GESYM"><img src="/img/logo-gesym.png" title="Contadores GESYM"></a>
                </li>
                <li>
                    <a href="/proyectos-paginas-web/fottiva" title="Fottiva"><img src="/img/logo_fotiva.jpg" title="Fottiva"></a>
                </li>
                <li>
                    <a href="/proyectos-paginas-web/zapatillas-lynx" title="Zapatillas Lynx"><img src="/img/logo-lynx.png" title="Zapatillas Lynx"></a>
                </li>
                <li>
                    <a href="/proyectos-paginas-web/sysel" title="Sysel"><img src="/img/logos/sysel.jpg" title="Sysel"></a>
                </li>
                <li>
                    <a href="/proyectos-paginas-web/caprice" title="Caprice"><img src="/img/logos/logo-caprice.png" title="Caprice"></a>
                </li>
                <li>
                    <a href="/proyectos-paginas-web/andestones" title="Página web Andestones"><img src="/img/logos/andestones.png" title="Andestones"></a>
                </li>                
                <li>
                    <a href="javascript:void(0)" title="Página web Beprime"><img src="/img/logos/logo2.png" title="Beprime"></a>
                </li>
                <li>
                    <a href="javascript:void(0)" title="Página web Ritzycharters"><img src="/img/logos/logo9.png" title="Ritzycharters"></a>
                </li>
                <li>
                    <a href="javascript:void(0)" title="Página web Viajesinter"><img src="/img/logos/logo10.png" title="Viajesinter"></a>
                </li>

            </ul>
        </div>
    </div>
</section>

<footer class="row foot">
    <img class="img-bann2" src="/img/ground6.png">
    <div class="col-container">
        <div class="small-12 medium-6 large-4 columns cont-linkb">
            <h3>Artículos recientes</h3>
            <ul>
                <li><a class="linkid" href="/blog/paginas-web-tradicionales-vs-landing-page">Páginas web tradicionales vs Landing Page</a></li>
                <li><a class="linkid" href="/blog/tu-pagina-web-un-canal-de-ventas-para-tu-negocio" title="Cómo hacer de tu Página Web un Canal de Ventas para tu negocio">Cómo hacer de tu Página Web un Canal de Ventas</a></li>
                <li><a class="linkid" href="/blog/paginas-vendedoras" title="Las Landing Pages como Páginas Vendedoras">Las Landing Pages como Páginas Vendedoras</a></li>
            </ul>
        </div>
        <div class="small-12 medium-6 large-4 columns cont-linkb">
            <h3>Enlaces de interés</h3>
            <ul>
                <li><a class="linkid" href="/diseño-de-paginas-web" title="Desarrollo Web">Diseño de páginas web</a></li>
                <li><a class="linkid" href="/landing-pages" title="Landing pages">Landing pages</a></li>
                <li><a class="linkid" href="/blog" title="Desarrolo Web">Blog</a></li>
                <li><a class="linkid" href="/proyectos-paginas-web" title="Desarrolo Web">Proyectos</a></li>
                <li><a class="linkid" href="/contactanos" title="">Contactanos</a></li>
            </ul>
            <h3>Síguenos también</h3>
            <a target="_blank" href="http://facebook.com/identired" class="icon-button facebook" title="Facebook"><i class="fa fa-facebook icon-facebook" aria-hidden="true"></i><span></span></a>
            <a target="_blank" href="https://twitter.com/identired360" class="icon-button twitter" title="Twitter Identired"><i class="fa fa-twitter" aria-hidden="true"></i><span></span></a>
        </div>
        <div class="small-12 medium-6 large-4 columns datid">
            <h3>Contáctanos</h3>
            <ul>
                <li><a href=""><i class="fa fa-map-marker" aria-hidden="true"></i>Narciso de la Colina  421 - Miraflores, Lima</a></li>
                <li><a href="tel:987204172"><i class="fa fa-mobile" aria-hidden="true"></i> RPC 987 204 172</a></li>
                <li><a href="tel:950984807"><i class="fa fa-mobile" aria-hidden="true"></i> RPM 950 984 807</a></li>
                <li><a href="tel:987204172"><i class="fa fa-whatsapp" aria-hidden="true"></i> 987 204 172</a></li>
                <li><a href="/contactanos"><i class="fa fa-envelope" aria-hidden="true"></i>informes@identired.com</a></li>
            </ul>
        </div>
        <div class="small-12 columns">
            <div class="bottom-pag">
                <a href="/terminos-y-condiciones" title="Términos y condiciones">Términos y condiciones</a>
                <p>Copyright Tuxpa Software SAC - 2016</p>
            </div>
        </div>
    </div>
</footer>
</div>
<!--Cierra main container-->

<script src="/js/all.min.js?ver={{ site.time | date: '%s' }}"></script>
