<section class="row sec-clien">
    <div class="col-container">
        <h2><b>Ellos trabajan</b> con nosotros</h2>
        <div class="cont-cli">
            <ul>
                <li>
                    <a href="/proyectos/zapatillas-tigre" title="Zapatillas Tigre"><img src="/img/logo-tigre.jpg" title="Zapatillas Tigre"></a>
                </li>
                <li>
                    <a href="/proyectos/gesym" title="Contadores GESYM"><img src="/img/logo-gesym.png" title="Contadores GESYM"></a>
                </li>
                <li>
                    <a href="/proyectos/fottiva" title="Fottiva"><img src="/img/logo_fotiva.jpg" title="Fottiva"></a>
                </li>
                <li>
                    <a href="/proyectos/zapatillas-lynx" title="Zapatillas Lynx"><img src="/img/logo-lynx.png" title="Zapatillas Lynx"></a>
                </li>
                <li>
                    <a href="/proyectos/sysel" title="Sysel"><img src="/img/logos/sysel.jpg" title="Sysel"></a>
                </li>
                <li>
                    <a href="/proyecto/caprice" title="Caprice"><img src="/img/logos/logo-caprice.png" title="Caprice"></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<footer class="row foot">
    <img class="img-bann2" src="/img/ground6.png">
    <div class="col-container">
        <div class="small-12 medium-6 large-4 columns form-sus">
            <h3>Suscríbete</h3>
            <p>Para recibir nuestras novedades.</p>
            <div class="form-csus">
                {% include subscribe-form.html %}
            </div>
        </div>
        <div class="small-12 medium-6 large-4 columns cont-linkb">
            <h3>Enlaces de interés</h3>
            <ul>
                <li><a class="linkid" href="/desarrollo-web" title="Desarrollo Web">Desarrollo web</a></li>
                <li><a class="linkid" href="/contactanos" title="">Contactanos</a></li>
            </ul>
            <h3>Síguenos también</h3>
            <!--a target="_blank" href="http://twitter.com/minimalmonkey" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a-->
            <a target="_blank" href="http://facebook.com" class="icon-button facebook" title="Facebook"><i class="fa fa-facebook icon-facebook" aria-hidden="true"></i><span></span></a>
            <!--a target="_blank" href="https://pe.linkedin.com/" class="icon-button linkedin" title="Linkedin"><i class="fa fa-linkedin icon-lin" aria-hidden="true"></i><span></span></a-->

            <!--a  target="_blank" href="http://plus.google.com" class="icon-button google-plus"><i class="fa fa-linkedin icon-google-plus" aria-hidden="true"></i><span></span></a-->
        </div>
        <div class="small-12 medium-6 large-4 columns datid">
            <h3>Contáctanos</h3>
            <ul>
                <li><a href=""><i class="fa fa-map-marker" aria-hidden="true"></i>Narciso de la Colina  421 Miraflores Lima Oficina 701</a></li>
                <li><a href="tel:987204172"><i class="fa fa-mobile" aria-hidden="true"></i> RPC 987 204 172</a></li>
                <li><a href="tel:950984807"><i class="fa fa-mobile" aria-hidden="true"></i> RPM 950 984 807
                        <li><a href="tel:987204172"><i class="fa fa-whatsapp" aria-hidden="true"></i> 987 204 172</a></li>
                        <li><a href="mailto:informes@identired.com"><i class="fa fa-envelope" aria-hidden="true"></i>informes@identired.com</a></li>
            </ul>
        </div>
        <div class="small-12 columns">
            <div class="bottom-pag">
                <a href="/terminos-y-condiciones" title="Términos y condiciones">Términos y condiciones</a>
                <p>Copyright Tuxpa Software SAC - 2016</p>
            </div>
        </div>
    </div>
</footer>
</div>
<!--Cierra main container-->

<script src="/js/all.min.js"></script>
