<header class="head">
    
    <canvas class="canvas"></canvas>

    <div class="top-bar-head">
        <div class="cont-bann">
            <ul>
                <li><a href=""><i class="fa fa-map-marker" aria-hidden="true"></i>Narciso de la Colina  421 Miraflores - Lima</a></li>
                <li><a href="tel:987204172"><i class="fa fa-phone" aria-hidden="true"></i> 987 204172</a></li>
                <li><a href="mailto:informes@identired.com"><i class="fa fa-envelope" aria-hidden="true"></i>informes@identired.com</a></li>
                <li><a class="butt-esc" href="/contactanos"><i class="fa fa-smile-o" aria-hidden="true"></i>Escríbenos</a></li>
            </ul>
        </div>
    </div>
    <div class="logo">
        <span id="top-view"  class="has-tip animated">
            {% include icon-chat.svg %}
            <div class="i-iconn"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
        </span>


        <a href="/" title="Identired">
            {% include logo-identired.svg %}
        </a>
    </div>

    <label id="menu_button" for="ackapa" class="navicon-button x animated">
        <div class="navicon"></div>
        <div class="cont-let">MENÚ</div>
        <div class="cont-let2">CERRAR</div>
    </label>

    <input type="checkbox" id="ackapa">
    <nav class="nav-ide">
        <div class="cont-menu">
            <a class="log-menu" href="/" title="Identired">
                <div class="cont-logfull">
                    {% include logo-identired-white.svg %}
                </div>
            </a>
            <h2>Servicios</h2>

            <ul>
                <li><a class="linkid" href="/diseño-de-paginas-web" title="Diseño de páginas web">Diseño de páginas web</a></li>
            </ul>
            <h2><a class="linkid" href="/nosotros" title="Sobre Identired">¿Quiénes somos?</a></h2> 
            <h2><a class="linkid" href="/proyectos" title="Proyectos web">Proyectos</a></h2>
            <h2><a class="linkid" href="/contactanos" title="Contáctanos">Contáctanos</a></h2>

        </div>
    </nav>
</header>
