<form id="formReg" action="/php/subscribe.php" method="post">
    <div class="card-reg">
        <div class="input-wrapper">
            <input type="text" id="nombreN" name="name" required>
            <label>Tu nombre</label>
        </div>
        <div class="input-wrapper">
            <input type="email" id="correoN" name="email" required>
            <label>Tu correo electrónico</label>
        </div>
        <!--div class="cont-check">
    <input type="checkbox" id="newsp"> <label class="labchec" for="newsp">Acepto los términos y condiciones.</label>
</div-->
        <div class="but-input sub-news">
            <input type="submit" class="bot-p bot-blanco" value="Suscribirme">
        </div>
    </div>
</form>
