<form id="formReg" action="/php/subscribe.php" method="post">
    <div class="card-reg">
        <div class="input-wrapper">
            <input type="text" id="nombreN" name="name" required>
            <label>Tu nombre</label>
        </div>
        <div class="input-wrapper">
            <input type="email" id="correoN" name="email" required>
            <label>Tu correo electrónico</label>
        </div>
        <div class="cont-buts">
            <div class="but-input sub-news">
                <input type="submit" class="bot-p bot-cel" value="Suscribirme">
            </div>
        </div>
    </div>
</form>
