<!doctype html>
<!--[if lt IE 7]>  <html class="no-js ie6" lang="es">   <![endif]-->
<!--[if IE 7]>     <html class="no-js ie7" lang="es">   <![endif]-->
<!--[if IE 8]>     <html class="no-js ie8" lang="es">   <![endif]-->
<!--[if IE 9 ]>    <html class="no-js ie9" lang="es">   <![endif]-->
<html class="no-js" lang="es">

    {% include head.html %}

    <body>

        <div id="fb-root"></div>

        {% include header.html %}

        <div id="main-container2">
            {{ content }}

            {% include footer.html %}

    </body>

</html>
