---
layout: default_index
openGraph:
    <meta property="og:title" content="Páginas web tradicionales vs Páginas vendedoras">
    <meta property="og:description" content="Cuales son las ventajas de una Landing page contra una Página web tradicional, sigue leyendo...">
    <meta property="og:site_name" content="Identired">
    <meta property="og:image" content="http://www.identired.pe/img/articulos/homepage-landing.jpg">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="es_ES" />
meta:
    <title>Páginas web tradicionales vs Paginas vendedoras - identired.pe</title>
    <meta name="author" content="identired.pe">
    <meta name="description" content="Ventajas de una Landing page contra una Página web tradicional">
    <meta name="robots" content="all, index, follow">
    <meta name="subject" content="Desarrollo web"/>
googlePlus:
    <meta itemprop="name" content="Páginas web tradicionales vs Landing Page">
    <meta itemprop="description" content="Cuales son las ventajas de una Landing page contra una Página web tradicional, sigue leyendo...">
    <meta itemprop="image" content="http://www.identired.pe/img/articulos/homepage-landing.jpg">
---
<section class="row">
    <div class="col-container">

        <div class="small-12 columns">
            <div class="tit-blog">
                <h1>Páginas web tradicionales vs <b>Landing Pages</b></h1>
                <div class="date-art">
                    <span class="icon icon--time">10/09/2016</span>
                </div>
            </div>
        </div>

        <div class="medium-12 large-8 columns sec-img">
            <div class="richt">

                <p>A fines de los años 90 las páginas web se diseñaban desde el punto de vista artístico. La prioridad era que una página web sea agradable a la vista asi como lo es un cuadro en una exposición de arte. Como veremos más adelante a medida que va evolucionando Internet esta mentalidad fue cambiando.</p>

                <img title="Páginas web tradicionales vs Landing Page" class="img-art" src="/img/articulos/homepage-landing.jpg">
                
                <p>Aproximadamente en el año 2004  surge el término <b>Web 2.0</b> que significa que no es suficiente que una página web sea agradable a la vista sino que lo más importante de una página web es que sea fácil de utilizar por el usuario y cumpla con el objetivo para el cual fue diseñada.</p>

                <p>Antes de empezar el proyecto de página web para tu empresa te tienes que preguntar lo siguiente. <b>¿Qué es lo que buscamos cuando un visitante entra a nuestra página web?</b> El 99% de las veces la respuesta es clara. Tu quieres aumentar las ventas de tu empresa y hacer que tu negocio crezca. Ahora viene lo interesante.</p>

                <p>Una Landing Page es una página web diseñada para cumplir con un objetivo bien preciso. Es decir se diseñada la Landing Page poniendo como prioridad la usabilidad de los elementos presentes en la página web para que cada uno de estos ayuden cumplir el objetivo.</p>

                <p>Básicamente existen dos tipos de objetivos en una  Landing Page: Click Through y Generar contactos. Si quieres saber más puedes leer el artículo <a href="http://www.identired.pe/blog/paginas-vendedoras">¿Qué es una pagina vendedora?</a></p>

                <h3>Ventajas de una Landing page contra una Página web tradicional</h3>

                <h4>Conversiones</h4>

                <p>Una Landing Page convierte un visitante en un prospecto (Potencial cliente)</p>
                <p>Cuando un visitante entra a una Landing Page queremos que ejecute una acción bien definida. Para el 99% de las pequeñas empresas esta acción es que el visitante nos contacte ya sea por teléfono o por un formulario. Una vez que teniendo el contacto podemos transformar el visitante en un cliente. En ese momento estás recuperando tu inversión en la Landing Page.</p>
                <p>En una página web tradicional el visitante tiene muchas opciones que lo distrae de tu objetivo. Por ejemplo un error común de una página web de una pequeña empresa es el de publicar su misión, visión y historia. La verdad es que a nadie le interesa, lo que los visitante quieres es saber es que vendes, qué servicios das y como contactarte. En una página web tradicional el 99% de los visitante simplemente abandona la página sin tomar ninguna acción o sea para decirlo fríamente perdiste un potencial cliente.</p>

                <ul class="ul-blog">
                    <li>
                        <i class="fa fa-check green-icon" aria-hidden="true"></i>Landing pages convierte visitante en clientes
                    </li>
                    <li>
                        <i class="fa fa-times red-icon" aria-hidden="true"></i>Páginas webs tradicionales hacen <b>perder el tiempo</b> (dinero)
                    </li>
                </ul>


                <h4>SEO</h4>

                <p>Las reglas básicas de SEO nos dice que tienes que segmentar tus palabras claves lo más posible. El contenido genérico es como el veneno para Google. Simplemente Google no va entender de que habla tu página web y no la va a mostrar en los primeros resultados.</p>

                <p>Como explicamos antes una caracteristica de una Landing page es que debe cumplir con un objetivo bien preciso que tiene como consecuencia que podemos optimizar las palabras claves para obtener un buen resultado del SEO Orgánico y  de pago. En palabras simples una Landing Page tiene más tráfico y de mejor calidad.</p>

                <p>Una página web tradicional es por su diseño muy genérica, se habla de la historia de la empresa, de la misión, del dueño, etc… es decir contiene muchas palabras claves que se canibalizan entre sí y trae como consecuencia que Google penaliza tu página simplemente porque entiende que es lo que ofrece. Una página web tradicional va tener poco tráfico y de poca calidad.</p>

                <ul class="ul-blog">
                    <li>
                        <i class="fa fa-check green-icon" aria-hidden="true"></i>Landing page obtienen más tráfico y de mejor calidad
                    </li>
                    <li>
                        <i class="fa fa-times red-icon" aria-hidden="true"></i>Una página web tradicional poco tráfico y muy genérico dificil que convertir
                    </li>
                </ul>

                <p>Para una pequeña y mediana empresa la mejor solución para hacer crecer el negocio por Internet es una Landing Page.</p>

                <p>En Identired somos expertos en hacer Landing pages que tenga retorno de la inversión y que generen muchos <b>momentos mágicos</b>.</p>

                <p>No sabes cuales son los momentos mágicos de tu empresa. Te lo explicamos en nuestro próximo artículo. Suscribete completando el formulario de la derecha.</p>

            </div>
            {% include blog/footer-marco.html %}
        </div>
        <div class="medium-12 large-4 columns cont-formb">
            {% include blog/side-bar.html %}
        </div>
    </div>
</section>