---
layout: default
article: true
openGraph:
    <meta property="og:title" content="Cómo hacer de mi Página Web un canal de ventas para mi negocio">
    <meta property="og:description" content="La mayoría de empresas tradicionales, no utilizan internet como una canal de ventas o como una herramienta comercial. Muchas veces nos encontramos con el caso de empresas que empiezan con el marketing digital, desarrollan su página web, la ponen online y esperan que los clientes llamen a la puerta. Lógicamente es como abrir una tienda en el desierto y esperar que los clientes lleguen hasta allí para comprar sus productos o servicios.">
    <meta property="og:site_name" content="Identired">
    <meta property="og:image" content="http://www.identired.pe/img/articulos/pagina-canal-ventas.jpg">
    <meta property="og:type" content="website">
    <meta property='og:locale' content='es_ES' />
meta:
    <title>Cómo hacer de mi Página Web un canal de ventas para mi negocio - identired.pe</title>
    <meta name="author" content="identired.pe">
    <meta name="description" content="La mayoría de empresas tradicionales, no utilizan internet como una canal de ventas o como una herramienta comercial. Muchas veces nos encontramos con el caso de empresas que empiezan con el marketing digital, desarrollan su página web, la ponen online y esperan que los clientes llamen a la puerta. Lógicamente es como abrir una tienda en el desierto y esperar que los clientes lleguen hasta allí para comprar sus productos o servicios.">
    <meta name="robots" content="all, index, follow">
    <meta name="subject" content="Desarrollo web"/>
googlePlus:
    <meta itemprop="name" content="Cómo hacer de mi Página Web un canal de ventas para mi negocio">
    <meta itemprop="description" content="La mayoría de empresas tradicionales, no utilizan internet como una canal de ventas o como una herramienta comercial. Muchas veces nos encontramos con el caso de empresas que empiezan con el marketing digital, desarrollan su página web, la ponen online y esperan que los clientes llamen a la puerta. Lógicamente es como abrir una tienda en el desierto y esperar que los clientes lleguen hasta allí para comprar sus productos o servicios.">
    <meta itemprop="image" content="http://www.identired.pe/img/articulos/pagina-canal-ventas.jpg">
---
<section class="row">
    <div class="col-container">

        <div class="small-12 columns">
            <div class="tit-blog">
                <h1>Cómo hacer de tu <b>Página Web un Canal de Ventas</b> para tu negocio</h1>
                <div class="date-art">
                    <span class="icon icon--time">11/08/2016</span>
                </div>
            </div>
        </div>

        <div class="medium-12 large-8 columns sec-img">
            <div class="richt">
                <img title="Cómo hacer de mi Página Web un canal de ventas para mi negocio" class="img-art" src="/img/articulos/pagina-canal-ventas.jpg">
                <p>En el Perú, la mayoría de <b>empresas tradicionales</b>, no utilizan internet como una canal de ventas o como una herramienta comercial, <b>ellos piensan que internet no funciona.</b> </p>
                <p>Muchas veces nos encontramos con el caso de empresas que empiezan con el marketing digital, desarrollan su página web, la ponen online y <b>esperan que los clientes llamen a la puerta</b>. Lógicamente es como abrir una <b>tienda en el desierto</b> y esperar que los clientes lleguen hasta allí para comprar sus productos o servicios.</p>
                <p>Para que eso suceda <b>necesitan una estrategia</b> para saber cómo posicionarse en internet.</p>
                <p>Para google no es relevante cuando una empresa lanza su web. <b>Google no tiene por qué confiar en su contenido</b> o si está bien desarrollada o no, simplemente NO le reservará un lugar de honor en sus primeras páginas.</p>
                <p>Esto mismo ocurre cuando pones tu empresa fuera de internet, al principio nadie confía en ti, nadie está interesado en tus productos, debes demostrar que lo que ofreces es bueno para que confíen en ti.</p>
                <p>En internet ocurre lo mismo, si lanzas tu web al mercado, no ocurrirá nada, ni al día siguiente ni los siguientes; y así la empresa se desesperará y perderá el interés por internet, dejará de preocuparse por su web y se preguntará: <b>“si a otros les funciona ¿Por qué a mi no? ”</b></p>
                <p><b>La respuesta es: Porque no tienes una estrategia para posicionar tu empresa en internet</b>, no tienes un objetivo, no tienes un plan trazado, no puedes medir tus resultados, y por lo tanto, es imposible que funcione.</p>
                <p>Si no tienes un objetivo y un plan de negocio concreto, es mejor no empezar.</p>
                <p>En IDETIRED te asesoramos y ayudamos a armar tu <b>plan de negocio, <a class="linkid" title="Diseño de página web" href="/diseño-de-paginas-web">diseñar tu sitio web</a> y tu plan de marketing digital</b>, para de esta manera desarrollar un sitio web que será un canal de ventas para tu empresa.</p>
                <p>Con el conjunto de todo este proceso se obtiene una <a class="linkid" href="/blog/paginas-vendedoras" title="Página vendedora">página vendedora</a>, la cual será tu vendedor durante todos los días del año, hasta mientras tu estas durmiendo.</p>
            </div>    
            {% include blog/footer-lisbeth.html %}
        </div>
        <div class="medium-12 large-4 columns cont-formb">
            {% include blog/side-bar.html %}
        </div>
    </div>
</section>