@media only screen and (max-width: 1460px) {
	.col-container{
		width: 90%;		
	}
	.title-home h1{
		font-size: 4em;
	}
	.title-home p {
		font-size: 3.2em;
		margin-bottom: .5em;
	}
	.cont-servc h2{
		font-size: 4.5em;
	}
} 
@media only screen and (max-width: 1400px) {
	.cont-linksh {
		padding-top: 2.5em;
	}	
	.item-serv h2{
		font-size: 2.3em;
	}
	.img-bann{
		bottom: -0.2em;
	}
	.cont-bann{
		width: 90%;
	}
   .grid{width: 100%;}
   .slick-track {
    padding-top: 1.6em;
   }
   .title-home p{
   	margin-bottom: 0;
   }
   .title-home h1{
   	 margin-bottom: 0.3em;
   }
   .item-paq a{
   	 margin: 0 3.5em;
   }
   .item-desa a{
   	 margin: 0 2em;
   }
}
@media only screen and (max-width: 1200px) {
  .col-container{
    width: 90%;
  }
  .cont-bann{
  	width: 95%;
  }
  .ch-grid{width: 100%;}
  .grid a{
  	max-width: inherit;
  }
  .cont-gen{
  	width: 100%;
  }
  .item-vent {
    padding: 1em 0em;
  }    
  .demo-2 .grid figure button{
  	transform: translateY(0%);
  }
  .item-paq a {
    margin: 0 2em;
  }
.bot-ver{
    color: @verde;
    background: #fff;
    border-bottom: .24em solid @verde;
    border-left: .1em solid @verde;
    border-right: .1em solid @verde;
    border-top: .1em solid @verde;
    
    &:hover{
        color: @celeste;
        border-bottom: .24em solid @celeste;        
        border-left: .1em solid @celeste;
        border-right: .1em solid @celeste;
        border-top: .1em solid @celeste;
    }
}
.bot-cel{
    color: @celeste;
    background: #fff;
    border-bottom: .24em solid @celeste;
    border-left: .1em solid @celeste;
    border-right: .1em solid @celeste;
    border-top: .1em solid @celeste;
    
    &:hover{
        color: @verde;
        border-bottom: .24em solid @verde;        
        border-left: .1em solid @verde;
        border-right: .1em solid @verde;
        border-top: .1em solid @verde;
    }
    &:focus{
        color: @celeste;
    }
}  
}

@media only screen and (max-width: 1024px) {
	.item-desa{
		margin-bottom: 2em;
	}
	.item-paq{
		margin-bottom: 2.5em;
	}
	.canvas{display: none !important;}
	.item-desa a {
		position: relative;
		bottom: inherit;
	    margin: 0;
	    margin-top: 1em;
	}
	.item-desa{
		height: auto !important;
	    padding: 2em 3em 3em 3em;
	}
	.item-paq a {
      margin: 0 4.5em;
    }
    .cont-textnos{
    	width: 100%;
    }
}
@media only screen and (max-height: 767px) and (min-width: 992px){
  .title-home p{
  	margin-bottom: 1em !important;
  }
  .txt-box{
  	height: 620px !important;
  }
}
@media only screen and (max-width: 992px) {
  .txt-box{
  	height: auto !important;
  }
  .col-container{
    width: 93%;
  }  
  #options-link{
	display: none !important;
  }
  .title-home p{width: 100%; font-size: 2.5em;}
  .title-home{
  	padding-top: 3em;
   }
  #top-view {display: none !important;}
  .title-home h1{width: 100%; font-size: 3.5em;}
  .img-bann3, .img-bann2,.img-bann{display: none;}
  .cont-servc{
  	padding-top: 4em;
	h2{
		padding-top: .5em;
		font-size: 4em;
		line-height: 1.3em;
	}	
	.slider{
		width: 99%;
	}
  }
  .sec-porq {
    padding-top: 5em;
  }
  .ban-inicio{
  	padding-bottom: 7em;
  }
  .ban-inicio h3{
  	font-size: 4em;
	width: 53%;
  }
	.pad-secc {
	    padding-top: 5em;
	    padding-bottom: 5em;
	} 
	.titH2 h2{
		font-size: 4em;
		line-height: 1.1;
	} 
	.titH2 {
    	margin-bottom: 2.5em;
   }
   .back-proy{
		padding-bottom: 0em;
		padding-top: 5em   	
   }
   .titH2 p{
   		margin-bottom: 1.2em;
   		font-size: 2.5em;
   }
   .cont-cost{
		padding-bottom: 5em;
		padding-top: 5em;   	
   }
   .sec-info {
	    padding-top: 5em;
	    padding-bottom: 5em;
	}
	.cont-comunic p{
		line-height: 1.1;
	}
	.sec-clien {
		padding-top: 5em;
		padding-bottom: 5em;
		position: relative;
	}
	.tit-prin h1{
		font-size: 3em;
	}
	.cont-smile p {
	    font-size: 2em;
	    line-height: 1.2;
	    width: 93%;
	}
	.cont-menu{
		width: 86%;
	}
	.foot{
		padding-top: 2em;
	}
	.arrowh{
		display: inline-block;
		margin-bottom: 1.5em;
	}
	#menu_button{
		background: #22985b;
	}
	.navicon{
		background: #fff;
	}
	.cont-let,.cont-let2{
		right: -4em;
	}
	.bot-hidden{
		display: inline-block;
	}
	.bot-hd{
	 	display: none;
	 }
	 .cont-let, .cont-let2{
	 	display: none !important;
	 }
	 .ban-inicio{
		background-image: inherit !important; 
	 }
	.item-paq a {
	    margin: 0 3em;
	}	 
	.cont-proy{
		width: 100%;
	}
}

@media only screen and (max-width: 767px){
	.sec-imp{
	    padding-top: 5em;
	    padding-bottom: 2em;		
	}
	.simform{
		width: 100%;
	}
	.sec-clien h2{
		line-height: 1.1;
		font-size: 2.7em;
	}
	input#ackapa:checked + nav li{
		width: 100%;
	}

}
@media only screen and (max-width: 640px){
	.logo svg {
	    width: 28em;
	}
	.title-home h1 {
	    width: 90%;
	}	
	.ban-inicio h1 {
	    font-size: 2em;
	    line-height: 1.4;
	}
	.ban-inicio h3{
		font-size: 3em;
	}
	.sec-imp h2{
		padding: 0;
	}
	.log-menu svg {
      width: 35em;
    }
    .cont-menu h2{
    	font-size: 2em;
    }
    .nav-ide ul a {
    margin-left: 0em;
    font-size: .8em;
    }
    .nav-ide li:before{
        top: .3em;
        left: -1.5em;	
    }
    .cont-menu h2:before{
    	top: .3em;
    }
    .cont-menu h2 a{
    	padding-left: .5em;
    }
	.sec-porq h2 {
		font-size: 3em;
		padding: 0 .4em;
		margin-bottom: .5em;
		line-height: 1.1em;
	} 
	.logo  {
		padding-top: 2.1em;
	}
	.cont-servc h2{
		font-size: 3em;
	}
	.bottom-pag{
		text-align: center;
	}
	.bottom-pag p{
		float: none;
		margin-top: 1.5em;
	}
	.bottom-pag{
		margin-top: 2em;
	}
	.ban-inicio text{
		font-size: 5em;
	}
	.item-paq{
		height: auto !important;
		    padding: 2em 3em 4em;	
	}
	.item-paq a {
		position: relative;
		bottom: inherit;
		margin: 0 auto;
    	display: table;
		margin-top: 1em;
	}
	.inicio-proy h1{
		font-size: 3em;
	    margin-top: 1.5em;
	}
}
@media only screen and (max-width: 480px){
	.logo svg {
	    width: 22em;
	}
	.log-menu svg {
       width: 27em;
    }
	.title-home h1 {
	    font-size: 2.7em;
	    width: 100%;
	}
	.ban-inicio h3 {
    	font-size: 2.1em;
	}
	.ban-inicio {
	    height: auto;
	}
	.sec-imp h2{
		font-size: 3em;
	}
	.item-desa{
		padding: 3em 2.5em;
		height: auto !important;
	}
	.titH2 h2 {
	    font-size: 3em;
	    line-height: 1.2;
	}	
	.sec-tecn {
	    padding-bottom: 3em;
	    padding-top: 6em;
	}	
	.cont-comunic a{
		padding: .2em 1em;
	}
	.cont-logfull{
		margin-top: 2em;
	}
	.ban-inicio text{
		font-size: 4em;
	}
	.ban-inicio h3 {
	    width: 36%;
	    margin-top: -1.7em;
	}
}
@media only screen and (max-width: 352px){
  .title-home h1 {
    font-size: 2.5em;
  }
}
/*
@media only screen and (min-height: 799px){
  .txt-box{
  	height: 670px !important;
  }
}*/
